#rubyResult {
  display: none;
}

#cSharpResult {
  display: none;
}

#javaScriptResult {
  display: none;
}

body {
  padding: 0 30px;
  padding-bottom: 30px;
}

.well {
  padding: 50px;
  margin-left: 0px;
}

.col-sm-8 {
  padding-right: 0px;
}

.col-sm-4 {
  padding-left: 0px;
}