/* --------Results--------- */

#rubyResult {
  display: none;
}

#cSharpResult {
  display: none;
}

#javaScriptResult {
  display: none;
}

.well {
  padding: 50px;
  margin-left: 0px;
}

/* --------Header--------- */

.jumbotron {
  margin: 0;
  background-image: url(../img/code.jpg);
  background-size: cover;
  padding: 0;
}

.jumbotron div {
  text-align: center;
  background: rgba(255, 127, 80, 0.7);
  padding: 100px 40px;
}

h1 {
  margin-top: 0;
}

.jumbotron p {
  font-weight: 600px;
}

/* --------Form--------- */

.container-fluid {
  padding: 0px;
}

main {
  padding: 50px;
  background-color: #fff0f2
}

.col-sm-8 {
  padding-right: 0px;
}

.col-sm-4 {
  padding-left: 0px;
}

button {
  margin: 20px 10px 20px 0;
  background-color: #343434;
  color: whitesmoke;
}

#reset {
  padding: 6px 20px 6px 20px;
}

/* --------Media Queries--------- */

@media screen and (max-width: 725px) {
  .well {
    margin-top: 30px;
  }
}