/* --------Results--------- */

#rubyResult {
  display: none;
}

#cSharpResult {
  display: none;
}

#javaScriptResult {
  display: none;
}

.well {
  padding: 20px 50px 50px 50px;
  margin-top: 36px;
  margin-left: 0px;
  background-color: rgb(247, 129, 113)
}

.well h2 {
  font-family: 'Bungee Inline', cursive;
}

.well p {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 360px;
  height: 210px;
  margin-top: 20px;
}

/* --------Header--------- */

.jumbotron {
  margin: 0;
  background-image: url(../img/code.jpg);
  background-size: cover;
  padding: 0;
}

.jumbotron div {
  text-align: center;
  background: rgba(255, 160, 122, 0.7);
  padding: 100px 40px;
}

.jumbotron p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0 50px;
}

h1 {
  font-family: 'Bungee Inline', cursive;
  margin-top: 0;
}

/* --------Form--------- */

.container-fluid {
  padding: 0px;
}

main {
  padding: 50px;
  background-color: #fff0f2;
  font-family: 'Roboto', sans-serif;
}

.form-group label {
  font-size: 1.7em;
  font-weight: normal;
}

.col-sm-8 {
  padding-right: 0px;
}

.col-sm-4 {
  padding-left: 0px;
}

button {
  margin: 20px 10px 20px 0;
  background-color: #343434;
  color: whitesmoke;
  font-family: 'Bungee Inline', cursive;
}

#reset {
  padding: 6px 20px 6px 20px;
}

/* --------Media Queries--------- */

@media screen and (max-width: 725px) {
  .well {
    margin-top: 30px;
    padding: 20px;
  }
}

@media screen and (max-width: 450px) {
  .jumbotron div {
    padding: 50px 30px;
  }
}
